.imageText{
    position: absolute;
    display: inline-block;
    top: 380px;
    right: 600px;
    padding-top: 0px;
    margin-top: 0px;
  }
  
  .whatsAppImage{
    display: inline-block;
  } 
   .modal-content{
     height: 100%;
   }
  
    .modal-descripcion{         
            text-align: center;
            color: rgb(255, 255, 255);
            background-image: url(../../img/house2.jpg);              
            font-weight: bold;
            height: 180%;
             width: 100%;
            
        
    }
  
   .close-animatedModal{
      text-align: center;
      background: gold;  
      color: black;       
      left: 100px;
      right: 100px;
      padding-top: 10px;
      height: 50px;
    }   
  
  
    .animatedModalToApply{
      background-image: url(/img/catarata.jpg);   
      height: 100%;
       width: 100%;          
  } 
   
     .btn {
      background: gold;
      color: black;
      text-align: center;
  
  
    } 
    .bg-warning{
      color: black;
     
    }
    .dinero{
      color: green;
      font-weight: bold;
      text-align: center;
    }
    .lugar{
      text-align: center;
    }