.imageText{
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 600px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left:30px;
    height:60px;
    width:500px;
    z-index:1;
  }
  
  /* .imageText:hover{
    width: 350px;
    height: 100px;

  } */
  
  .whatsAppImage{
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px; 
    right: 180px;
    z-index: 10;
   /*  transition: width 2s,height 2s; */
  } 
  

   .whatsAppImage:hover{
    position: absolute;
    width: 300px;
    height: 300px; 
    top:-25px;
    z-index: 10;
  }

  .modal-content{
    height: auto;
  }
  
    .modal-descripcion{         
            text-align: center;
            color: rgb(255, 255, 255);
            background-image: url(../../img/house2.jpg);              
            font-weight: bold;
            height: auto;
             width: 100%;
            
        
    }
  
   .close-animatedModal{
      text-align: center;
      background: gold;  
      color: black;       
      left: 100px;
      right: 100px;
      padding-top: 10px;
      height: 50px;
    }   

    .close-animatedModalResponsive{
      text-align: center;
      background: green;  
      color: black;       
      left: 100px;
      right: 100px;
      padding-top: 10px;
      height: 50px;
      width: 50px;
    }   
  
  
  
    .animatedModalToApply{
      background-image: url(/img/catarata.jpg);   
      height: 100%;
       width: 100%;          
  } 
   
     .btn {
      background: gold;
      color: black;
      text-align: center;
  
  
    } 
    .bg-warning{
      color: black;
     
    }
    .dinero{
      color: green;
      font-weight: bold;
      text-align: center;
    }
    .lugar{
      text-align: center;
    }